h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #0c0000;
}

#main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

#main-header nav ul {
    display: flex;           /* Makes list items horizontal */
    list-style: none;        /* Removes bullet points */
    padding: 0;              /* Removes default padding */
    margin: 0;               /* Removes default margin */
    gap: 20px;               /* Space between links */
}


main {
    display: grid !important;
    grid-template-columns: 30% 70% !important;
    grid-template-areas:
        "about work"
        "about education"
        "about skills"
        "about interests";
    gap: 30px;
    align-items: start;
}

#About\me{
    grid-area: about;
}

#Work-experience {
    grid-area: work;
}

#education {
    grid-area: education;
}

#skills {
    grid-area: skills;
}
#skills img {
    width: 20px;        /* Small width */
    height: 20px;       /* Small height */
    margin-right: 8px;  /* Space between image and text */
    vertical-align: middle; /* Align with text */
}

#interests {
    grid-area: interests;
}