body {
    background-color: #e09a9a !important; /* adds some background colour to the website */
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #0c0000;
}

#main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* this is what makes my name and the links on opposite sides on the header */
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

#main-header nav ul {
    display: flex;           /* Made the list with the html files and other external links horizontal */
    list-style: none;        /* this removed the bulletpoints from the list */
    padding: 0;             
    margin: 0;              
    gap: 20px;               /* the amount of space between the list items */
}


main {
    display: grid !important;
    grid-template-columns: 30% 70% !important; /* this is the percentage of each column*/
    grid-template-areas:  /* this is what was used to visualy structure the website*/
        "about work"
        "about education"
        "about skills"
        "about interests";
    gap: 30px;
    align-items: start;
}
/* this just plotts the sections of the website in the grid template areas */
#About\me{
    grid-area: about;
}

#Work-experience {
    grid-area: work;
}

#education {
    grid-area: education;
}

#skills {
    grid-area: skills;
}
#skills img {
    width: 20px;        
    height: 20px;       
    margin-right: 8px;  /* This was how much space there is between the logos and the text */
    vertical-align: middle; /* Align the image with the text */
}

#interests {
    grid-area: interests;
}